{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title> LegoSearch Home </title>
        <link rel="stylesheet" href="../style.css">
    </head>

    <body>

        <div class ="body_container">
            <h2> Home Page </h2>
            <p> Welcome to LegoSearch! </p>
            <p>This is a website where you can search for your favorite lego sets and track which sets you want and currently may have. <br>
                Check out each of the different pages! </p>
        </div>

    </body>
</html>

{% endblock content %}